<table>
	<tbody>
		<tr>
			<td><br /><br /><br /><br /><br /><br /></td>
		</tr>
		<tr>
			<td width="670" align="left"><center><img src="{{ asset('bundles/dlaser/images/banner_full.png') }}" alt="Logo" width="1500" height="190" /></center></td>
		</tr>
	</tbody>
</table>